{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">
  <div class="h-[256px] max-w-[700px] grid grid-cols-[256px_auto] grid-rows-3 gap-2">
    <div class="row-span-3 aspect-square max-w-[256px] flex justify-end items-center p-4">
      <img src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.avatar }}.png" alt="Avatar" class="rounded-full w-full h-full object-cover">
    </div>
    <div class="flex items-center p-4">
      <span class="text-4xl">Cześć, {{ user.global_name }}!</span>
    </div>
    <div class="col-start-2 flex items-center p-4">
      <span class="text-2xl">Twój serwer: {{ guild.name }}</span>
    </div>
    <div class="col-start-2 row-start-3 flex items-center justify-center p-4">
      <button class="button !p-4 bg-gray-400 hover:bg-gray-300" id="logout" onclick="location.href='{{ url_for('auth.logout') }}'">
        <span class="text-xl">Wyloguj</span>
      </button>
    </div>
  </div>
</div>
{% endblock %}