{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{%  block content %}
    <div class="flex flex-col justify-center items-center h-screen max-w-[800px] mx-auto">
        <h1>Welcome, {{ user.global_name }}</h1>
        <img src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.avatar }}.png" alt="Avatar" width="100">
        <br>
        <a href="{{ url_for('auth.logout') }}">Logout</a>

        <p>
            {% if is_member %}
                You are a member
            {% else %}
                You are not a member
            {% endif %}
            of {{ guild.name  }}
        </p>
    </div>
{% endblock %}