{% extends 'base.html' %}

{% block title %}Strona Główna{% endblock %}

{% block content %}
  <div class="flex flex-col justify-center items-center h-screen max-w-[800px] mx-auto">
        <h1 class="text-4xl font-semibold sm:text-7xl">Projekt grywalizacja</h1>
        <p class="mt-8 text-lg font-medium text-pretty text-center text-gray-500 sm:text-xl/8">
            <br>
            Projekt ma na celu udostępnianie użytkownikom drzewek z zadaniami, które mogą wykonywać i dostawać za nie punkty.
            <br><br>
            W rankingu można zobaczyć użytkowników z największą ilością punktów, aby motywować do wykonywania zadań.
            <br><br>
            Aby się zalogować, należy być członkiem serwera TK Games i zalogować się poprzez Discorda.
        </p>
      </div>
{% endblock %}
