{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center h-screen max-w-[800px] mx-auto">
        <a class="text-4xl " href={{ url_for('auth.login_with_discord') }}>>Login with discord<</a>
        <p class="mt-8 text-lg font-medium text-pretty text-justify text-gray-500 sm:text-xl/8">
            Our app requires you to log in with your Discord account to use all of its functionalities.
        </p>
    </div>
{% endblock %}
