{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center h-screen max-w-[800px] mx-auto">
        <button class="button !p-5 bg-indigo-400 hover:bg-indigo-300" id="login" onclick="location.href='/login-with-discord'">
           <span class="text-4xl">Login with Discord</span>
        </button>
        <p class="mt-8 text-lg font-medium text-pretty text-justify text-gray-500 sm:text-xl/8">
            Our app requires you to log in with your Discord account to use all of its functionalities.
        </p>
    </div>
{% endblock %}
