<div class="sidebar flex-col left-[20px]">
    <button class="button" id="home" onclick="location.href='/'" title="Strona główna">
            <img class="hover:invert" src="../static/images/home.png" alt="HOME"/>
        </button>

        <button class="button" id="tree" onclick="location.href='/tree'" title="Drzewko zadań">
            <img class="hover:invert" src="../static/images/tree.png" alt="TREE"/>
        </button>

        <button class="button" id="rank" onclick="location.href='/ranking'" title="Ranking użytkowników">
            <img class="hover:invert" src="../static/images/ranking.png" alt="RANK"/>
        </button>
    {% block admin_options %}
    {% endblock %}
</div>

<div class="sidebar items-center justify-center right-[20px]">
    {% if session.user %}
        <button class="h-button" id="user" onclick="location.href='/dashboard'" title="Dane użytkownika">
            <p>
                {{ session.user.global_name }}
            </p>
            <img src="https://cdn.discordapp.com/avatars/{{ session.user.id }}/{{ session.user.avatar }}.png" alt="Avatar" class="rounded-full w-16">
        </button>

    {% else %}
        <button class="h-button" id="user" onclick="location.href='{{ url_for('auth.login_with_discord') }}'" title="logowanie">
            <p>Log in</p>
            <img src="../static/images/user_icon.png">
        </button>
    {% endif %}
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='js/button_behavior.js') }}"></script>
{% endblock %}