<div class="sidebar flex-col left-[20px]">
    <button class="button" id="home" onclick="location.href='/'" title="Strona główna">
        <img class="hover:invert" src="../static/images/home.png" alt="HOME"/>
    </button>

    <button class="button" id="tree" onclick="location.href='/tree'" title="Drzewko zadań">
        <img class="hover:invert" src="../static/images/tree.png" alt="TREE"/>
    </button>

    <button class="button" id="rank" onclick="location.href='/ranking'" title="Ranking użytkowników">
        <img class="hover:invert" src="../static/images/ranking.png" alt="RANK"/>
    </button>
</div>

<div class="sidebar items-center flex-row right-[20px]">
    <p class="text-lg">
        {% if session.user %}
            {{ session.user.global_name }}
        {% else %}
            <a href="{{ url_for('auth.login') }}">Log in</a>
        {% endif %}
    </p>
    <a href="{{ url_for('dashboard') }}">
        <img src="../static/images/user_icon.png">
    </a>
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='js/button_behavior.js') }}"></script>
{% endblock %}