{% extends 'base.html' %}

{% block title %}Drzewko Zadań{% endblock %}

{% block content %}
  <form method="get" action="{{ url_for('tree') }}" class="flex justify-center mt-8">
    <select name="tree_id" id="tree_id" onchange="this.form.submit()" class="text-lg p-2 rounded-xl">
      {% for tree in trees %}
        <option value="{{ tree.id }}" {% if tree.id == selected_tree_id %}selected{% endif %}>{{ tree.name }}</option>
      {% endfor %}
    </select>
  </form>
  <div id="cy" class="mx-12"></div>
{% endblock %}

{% block scripts %}
  <script>
    window.SELECTED_TREE_ID = {{ selected_tree_id }};
  </script>
  <script>
    window.IS_LOGGED_IN = {{ 'true' if session.get('user') else 'false' }};
  </script>
  <script src="https://unpkg.com/cytoscape@3.26.0/dist/cytoscape.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@2.0.0/cytoscape-popper.min.js"></script>
  <script src="{{ url_for('static', filename='js/tree.js') }}"></script>
{% endblock %}